body{
	font-family: 'Montserrat', sans-serif;
	font-size: 18;
}

h1{
	color:white;
}

html {
  background-color: #f5f7f9;
}


.header{
	background-color: #3b5998;
}

.profile {
	margin-top: 20px;
}

img {
	border: 4px solid grey;
}

ul{
	list-style: none;
}

.blue{
	color: green;
	text-align: center;
}

.pink{
	color: pink;
}

.card-block {
	padding: 10px;
	border: 1px #CCD9CE;
}

.width-img{
	border-radius: 50%;
    width: 100%;
}

.img-title{
	background-color: #CCD9CE;
}

.img-text{
	background-color: #FFBFA7;
}

.card-title{
	color: green;
	text-align: center;
}

.text-title{
	background-color: #CCD9CE;
	text-align: center;
}

.navbar{
	background: #FFA58F;
}

.navbar-brand{
	color: #CCD9CE!important;
	font-size: 18;
}

.nav-link{
	color: grey;
}

.video{
	text-align: center;
}

.jumbotron {
  background-image: url("../img/staf.jpg");
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
}
 .navbar{
 	margin-bottom: 0px;
 }

 body {
 	background-image: url("../img/cliff.jpg")
 }

 .card-second {
 	text-align: center;
 	background-color: white;
 }

 .giphy{
 	text-align: center;
 }
